<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= include_gon %>
    <%= stylesheet_link_tag "login", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= yield(:scripts) if content_for?(:scripts)%>
    <%= render 'shared/html5'%>
    <%= render 'shared/meta'%>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render 'shared/responsive_header'%>
		</header>
		
		<aside class="main-sidebar">
			<%= render 'shared/responsive_sidebar'%>
		</aside>
		
		<div class="content-wrapper">
			<section  class="content">
				<%= render 'shared/alert'%>
				<%= render 'shared/flash'%>
				<%= yield %>
			</section>
		</div>
		
		<!-- footer section starts -->
		<%= render 'shared/footer'%>
		<!-- footer section ends -->
	</div>
  </body>
	
    
  </body>
</html>